* {
  margin: 0;
  padding: 0;
  /* width: 100%; */
  box-sizing: border-box;
}

header {
  position: relative;
  background-color: #fff;
}
.hero-img {
  background: url("../img/hero.jpeg");
  opacity: 0.6;
  height: 60vh;
}
header .text {
  position: absolute;
  width: 100%;
  color: #333;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 2px;
  top: 50%;
  transform: translateY(-50%);
}
.graph {
  height: 25rem;
  border: 2px solid #333;
}

.box {
  height: 10rem;
  margin: 2rem 15rem;
  border-radius: 10px;
  position: relative;
}
/* ----- Yuki----- */
.js {
  background-color: #fff0b3;
}
.py {
  background-color: #98b2e6;
}
.sql {
  background-color: #8cd9b3;
}
.cercle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 50px;
  width: 6rem;
  height: 6rem;
}
.fab,
.fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fa-js-square {
  color: #fff0b3;
}
.fa-python {
  color: #98b2e6;
}
.fa-database {
  color: #8cd9b3;
}
.text1 {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
  color: #fff;
  width: 39%;
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1.4rem;
}
.emphasize {
  color: #999;
  font-size: large;
}

.text2 {
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translate(-3%, -50%);
  color: #fff;
  width: 30%;
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1.4rem;
}

/* ----- Kaori----- */

.java {
  height: 20rem;
  margin: 2rem;
  border-radius: 20px;
}
.node {
  height: 20rem;
  margin: 2rem;
  border-radius: 20px;
}
.ts {
  height: 20rem;
  margin: 2rem;
  border-radius: 20px;
}

footer {
  text-align: center;
  background-image: url("../img/hero.jpeg");
  opacity: 0.6;
}
footer p {
  color: #333;
  font-size: 5px;
  padding: 0.5rem;
}

@media (max-width: 500px) {
  .hero-img {
    height: 20rem;
  }
  header .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .graph {
    height: 25rem;
    border: 2px solid #333;
  }
  .box {
    height: 10rem;
    margin: 1rem;
    border-radius: 10px;
  }
  /* ----- Yuki----- */
  .js {
    background-color: #fff0b3;
  }
  .py {
    background-color: #98b2e6;
  }
  .sql {
    background-color: #8cd9b3;
  }
  .cercle {
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 50px; */
    width: 6rem;
    height: 6rem;
  }
  /* .fab,
  .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .fa-js-square {
    color: #fff0b3;
  }
  .fa-python {
    color: #98b2e6;
  }
  .fa-database {
    color: #8cd9b3;
  } */
  .text1 {
    width: 39%;
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 1.4rem;
    left: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    /* position: absolute; */
    /* color: #fff; */
  }
  .emphasize {
    /* color: #999; */
    font-size: large;
  }
  .text2 {
    /* position: absolute; */
    /* color: #fff; */
    right: 3%;
    top: 50%;
    transform: translate(-3%, -50%);
    width: 30%;
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 1.4rem;
  }

  /* ----- Kaori ----- */
  /* Java starts */
  .java {
    height: 10rem;
    margin: 2rem;
    border-radius: 10px;
    position: relative;
    background-color: #ffd18c;
  }

  .java > .explain-tl {
    color: #fff;
    width: 40%;
    height: auto;
    font-weight: 700;
    padding-top: 0.75rem;
    padding-left: 0.6rem;
    letter-spacing: 1px;
    line-height: 1.2rem;
  }

  .java > .explain-bl {
    position: absolute;
    color: #fff;
    width: 40%;
    height: auto;
    font-weight: 700;
    bottom: 0;
    padding-bottom: 0.75rem;
    padding-left: 0.6rem;
    letter-spacing: 1px;
    line-height: 1.2rem;
  }

  .java > .explain-br {
    position: absolute;
    color: #fff;
    width: auto;
    height: auto;
    font-size: 0.8rem;
    font-weight: 600;
    right: 0;
    top: 0;
    padding-top: 1rem;
    padding-right: 0.6rem;
    letter-spacing: 1px;
    line-height: 1.2rem;
  }

  .netflix-logo {
    position: absolute;
    opacity: 0.8;
    filter: grayscale(100%);
    width: 5rem;
    right: 0;
    margin-top: 1rem;
    margin-right: 3.5rem;
  }

  .google-logo {
    position: absolute;
    opacity: 0.8;
    filter: grayscale(100%);
    width: 4rem;
    right: 0;
    margin-top: 4rem;
    margin-right: 6rem;
  }

  .android-logo {
    position: absolute;
    opacity: 0.8;
    filter: grayscale(100%);
    width: 4rem;
    right: 0;
    margin-top: 3.2rem;
    margin-right: 0.8rem;
  }
  /* Java ends */

  .emphasize {
    color: #999;
    font-size: large;
  }

  .wide {
    display: none;
  }

  /* node starts */
  .node {
    height: 10rem;
    margin: 2rem;
    border-radius: 10px;
    position: relative;
    background-color: #689f639f;
  }

  .node > .explain-tl {
    color: #fff;
    width: 40%;
    height: auto;
    font-weight: 700;
    padding-top: 0.75rem;
    padding-left: 0.6rem;
    letter-spacing: 1px;
    line-height: 1.2rem;
  }

  .ts {
    height: 10rem;
    margin: 2rem;
    border-radius: 10px;
    position: relative;
    background-color: #3179c69f;
  }

  .fa-java {
    color: #ffc368;
  }

  .fa-node {
    opacity: 0.6;
  }

  .fa-ts {
    opacity: 0.6;
  }
}
