* {
  margin: 0;
  padding: 0;
  /* width: 100%; */
  box-sizing: border-box;
}

header {
  position: relative;
  background-color: #fff;
}
.hero-img {
  background: url('../img/hero.jpeg');
  opacity: 0.6;
  height: 60vh;
}
header .text {
  position: absolute;
  width: 100%;
  color: #333;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 2px;
  top: 50%;
  transform: translateY(-50%);
}
.graph {
  height: 25rem;
  border: 2px solid #333;
}

.box {
  height: 10rem;
  margin: 2rem 15rem;
  border-radius: 10px;
  position: relative;
}
/* ----- Yuki----- */
.js {
  background-color: #fff0b3;
}
.py {
  background-color: #98b2e6;
}
.sql {
  background-color: #8cd9b3;
}
.cercle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 50px;
  width: 6rem;
  height: 6rem;
}
.fab,
.fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fa-js-square {
  color: #fff0b3;
}
.fa-python {
  color: #98b2e6;
}
.fa-database {
  color: #8cd9b3;
}
.text1 {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
  color: #fff;
  width: 39%;
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1.4rem;
}
.emphasize {
  color: #999;
  font-size: large;
}

.text2 {
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translate(-3%, -50%);
  color: #fff;
  width: 30%;
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1.4rem;
}

/* ----- Kaori----- */
.java {
  width: 60vw;
  margin: 2rem auto;
  background-color: #ffd18ccb;
}
.node {
  width: 60vw;
  margin: 2rem auto;
  background-color: #689f6370;
}
.ts {
  width: 60vw;
  margin: 2rem auto;
  background-color: #3179c660;
}

.fa-java {
  color: #ffc368;
}

.fa-node {
  opacity: 0.6;
}

.fa-ts {
  opacity: 0.6;
}

.explain-l {
  position: absolute;
  color: #fff;
  height: auto;
  letter-spacing: 1px;
  width: 39%;
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1.2rem;
  left: 5%;
  top: 20%;
  transform: translate(-5%, -20%);
}

.wide-l {
  display: block;
  top: 85%;
  transform: translate(-5%, -85%);
}

.explain-r {
  position: absolute;
  color: #fff;
  right: 3%;
  top: 50%;
  transform: translate(-3%, -50%);
  width: 30%;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 1px;
  line-height: 1.4rem;
}

footer {
  text-align: center;
  background-image: url('../img/hero.jpeg');
  opacity: 0.6;
}
footer p {
  color: #333;
  font-size: 5px;
  padding: 0.5rem;
}

/* Normal */
@media (max-width: 1200px) {
  .java {
    width: 80vw;
  }
  .node {
    width: 80vw;
  }
  .ts {
    width: 80vw;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .explain-l {
    line-height: 1.4rem;
    top: 50%;
    transform: translate(-5%, -50%);
  }

  .wide-l {
    display: none;
  }
}

/* Smartphone */
@media (max-width: 500px) {
  .hero-img {
    height: 20rem;
  }
  header .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .graph {
    height: 25rem;
    border: 2px solid #333;
  }
  .box {
    height: 10rem;
    margin: 1rem;
    border-radius: 10px;
  }
  /* ----- Yuki----- */
  .js {
    background-color: #fff0b3;
  }
  .py {
    background-color: #98b2e6;
  }
  .sql {
    background-color: #8cd9b3;
  }
  .cercle {
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 50px; */
    width: 6rem;
    height: 6rem;
  }
  /* .fab,
  .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .fa-js-square {
    color: #fff0b3;
  }
  .fa-python {
    color: #98b2e6;
  }
  .fa-database {
    color: #8cd9b3;
  } */
  .text1 {
    width: 39%;
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 1.4rem;
    left: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    /* position: absolute; */
    /* color: #fff; */
  }
  .emphasize {
    /* color: #999; */
    font-size: large;
  }
  .text2 {
    /* position: absolute; */
    /* color: #fff; */
    right: 3%;
    top: 50%;
    transform: translate(-3%, -50%);
    width: 30%;
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 1.4rem;
  }

  /* ----- Kaori ----- */
  .java {
    width: auto;
  }

  .node {
    width: auto;
  }

  .ts {
    width: auto;
  }
}
